<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <ResourceId>/subscriptions/ef975b38-75d2-4574-9024-cd946995babc/resourceGroups/ishimaru_test/providers/Microsoft.ContainerRegistry/registries/IshimaruTestRegistry</ResourceId>
    <ResourceName>IshimaruTestRegistry</ResourceName>
    <ResourceGroup>ishimaru_test</ResourceGroup>
    <Subscription>Visual Studio Professional サブスクリプション</Subscription>
    <RegistryUrl>ishimarutestregistry.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ProjectGuid>8c246a7a-fd3d-43aa-8d5e-f2a51474326d</ProjectGuid>
    <_TargetId>NetSdkAzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>